<h1>Buscando: <small>{{ valor }}</small></h1> <hr>
<div class="card-columns" >

<div *ngIf="heroes.length > 0; else menssageError">

    <div class="card animated fadeIn fast"   *ngFor="let data of heroes; let i = index">
        <img class="card-img-top" [src]="data.img" alt="data.nombre">
        <div class="card-body">
          <h5 class="card-title">{{ data.nombre }}</h5>
          <p class="card-text">{{ data.bio }}</p>
          <p class="card-text"><small class="text-muted"> {{ data.aparicion }} </small></p>
          <button (click)="bioHeroe(i)"  type="submit" class="btn btn-outline-primary col-lg-12" > ver mas </button>
        </div>
      </div>

</div>

<ng-template #menssageError>

    <div class="alert alert-danger" role="alert">
       No se encuentra "{{ valor }}" en la lista
      </div>

</ng-template>
  

</div>