<h1>{{ heroe.nombre | uppercase }} <small> {{ heroe.aparicion | date:'yyyy-MM' }} </small></h1>

<hr>

<div class="row">

  <div class="col-md-4">
    <img [src]=" heroe.img  " alt=" heroe.nombre  "> <br><br>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>

  <div class="col-md-8">
    <h3>{{ heroe.nombre }} </h3> <hr>
    <p>
      {{ heroe.bio }} 
    </p>
    <div *ngIf="heroe.casa == 'DC'; else MarvelLogo ">
      <img src="assets/img/dcLogo.png" style="width: 200px;" alt="heroe.casa">
    </div>
    <ng-template #MarvelLogo>
        <img src="assets/img/marvelLogo.jpg" style="width: 200px" alt="heroe.casa">
      </ng-template>
  </div>

</div>